APP_ENV=testing
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3309
DB_DATABASE=app_testing
DB_ROOT_PASSWORD=demo-root-password
DB_USERNAME=app_user
DB_PASSWORD=demo-db-password
REDIS_PORT=6382
