APP_ENV=testing
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
BROADCAST_CONNECTION=null
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
DB_ROOT_PASSWORD=demo-root-password
DB_USERNAME=app_user
DB_PASSWORD=demo-db-password
REDIS_PORT=6382
